.git
**/.git
**/.gitignore
**/build
**/build/**
**/bin
**/bin/**
**/demo/lib
**/demo/lib/**
**/config.json
**/.env
**/.env.*
!**/.env.example
**/*.log
**/core
**/core.*
**/*.pem
**/*.key
**/*.p12
**/*.pfx
**/node_modules
**/node_modules/**
**/.terraform
**/.terraform/**
**/.docker-sdk
**/.docker-sdk/**
cloud-loadtesting
cloud-loadtesting/**
