demo/bin/
demo/build/
demo/lib/zoom_meeting_sdk/*.so
demo/lib/zoom_meeting_sdk/*.1
demo/lib/zoom_meeting_sdk/qt_libs/Qt/*
demo/include/h/*
.vscode/
demo/.vscode/
build/
/YUVFile/*.yuv

#files for vs 2022
.vs
demo/CMakeSettings.json

