IMAGE=dcr.asdc.cc/zoom-sendraw-loadtest-joinmeeting:latest

MEETING_NUMBER=1234567890
JWT_TOKEN=
MEETING_PASSWORD=
ZOOM_USERNAME_PREFIX=LoadBot
MEDIA_MANIFEST=../media/manifest.json
MEDIA_INDEX=-1

JWT_ENDPOINT=https://nodejs.asdc.cc/meeting
JWT_ROLE=0
USE_JWT_TOKEN_FROM_WEB_SERVICE=false
USE_RECORDING_TOKEN_FROM_WEB_SERVICE=false

SEND_VIDEO_RAW_DATA=true
SEND_AUDIO_RAW_DATA=true
CHAT_DEMO=true
EXIT_ON_MEETING_END=true

VIDEO_WIDTH=1280
VIDEO_HEIGHT=720
VIDEO_FPS=30
AUDIO_SAMPLE_RATE=48000
AUDIO_CHANNELS=1

CPUS=1.0
MEMORY=1g
SHM_SIZE=256m
RESTART_POLICY=no
PROJECT=zoom-loadtest-joinmeeting
